<%- include('partials/header') %>

<div class="wrapper">
  <div class="title">
    <a href="/about">
      <h1 class="hello"></h1>
    </a>
    <a href="/work">
      <h1 class="iam"></h1>
    </a>
    <a href="/contact">
      <h1 class="adrian"></h1>
    </a>
  </div>
</div>

<%- include('partials/footer') %>
